<div class="content_contact" id="contacto">
    <h2><%= lang.content_contact.title %></h2>
    <p><%= lang.content_contact.description %></p>
    <form action="/submit-contact" method="post">
        <div>
            <input type="text" name="name" id="name" placeholder="<%= lang.content_contact.inputName %>" autocomplete="off">
            <input type="email" name="email" id="email" placeholder="<%= lang.content_contact.inputEmail %>" autocomplete="off">    
        </div>
        <textarea name="message" id="message" style="resize: none;" placeholder="<%= lang.content_contact.textArea %>" autocomplete="off"></textarea>
        <input type="submit" value="<%= lang.content_contact.btnSubmit %>">
    </form>
</div>
<footer>
    <span>&copy; 2024 Bytech Technology</span>
    <div class="social">
        <a href="https://www.instagram.com/bytech_technology/" target="_blank" alt="instagram" aria-label="Link Instagram"><i class='bx bxl-instagram'></i></a>
        <a href="mailto:bytechsuppor@gmail.com" target="_blank" alt="gmail" aria-label="Link Gmail"><i class='bx bxl-gmail' ></i></a>
    </div>
</footer>