<div class="content_services" id="servicios">
    <h2 data-aos="fade-up"><%= lang.content_services.title %></h2>
    <div class="content_services_group">
        <% lang.content_services.services.forEach(services => { %>
            <div class="services_group" style="background-image: url(/<%=services.img%>);background-repeat: no-repeat;background-size: cover;background-position: center;">
                <img src="/<%= services.icon %>.png">
                <div class="services_group_text">
                    <h2><%= services.title %></h2>
                    <p><%= services.description %></p>
                </div>
            </div>
        <% }) %>
    </div>
</div>